Button.inactive {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #737373 0%, #767676 100%),
            #8d8d8d,
            #c3c3c3,
            radial-gradient(center 50% 50%, radius 100%, #c3d4ba, #b0b0b0);
}

Button.error {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a12813 0%, #8f2513 100%),
            #9c2a24,
            #d6513a,
            radial-gradient(center 50% 50%, radius 100%, #e8644d, #c4352d);
}

Button.warning {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a18713 0%, #8f7813 100%),
            #9c7a24,
            #d6ba3a,
            radial-gradient(center 50% 50%, radius 100%, #e8cc4d, #c49a2d);
}

Button.normal {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #42a113 0%, #3c8f13 100%),
            #589c24,
            #6ed63a,
            radial-gradient(center 50% 50%, radius 100%, #6ed63a, #6dc22d);
}

Button {
    -fx-padding: 20 20 20 20;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
Button:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
Button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
Button Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}